/*POPの中身*/
.pop_header{
	background-color: #f2eaf4;
	height:80px;
}


.pop_header p{
	font-size: 15px;
	font-weight: 600;
	color:#b96cc4;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0.1em;
}

.pop_header a{
	margin-top: -10px;
	float:right;
	position: relative;
	/*bottom:80px;*/
	color:#666666;
	font-size: 40px;
	text-decoration: none;
}

.pop_header a:hover{
	color:#333333;
}



.book_img{
	margin-bottom: 20px;
	text-align: center;
	border: 10px;
}

.book_pic {
	margin-top: -40px;
	width: auto;
	max-height: 150px;
}

.form_original label{
	vertical-align:top;
	font-size: 12px;
	color: #bbb;
}

.form_original input{
	margin-bottom: 10px;
	width:100%;
	height: 2em;
	outline:none;
	color:#8f4796;
    background:none;
    border-style: none;
    border-bottom: solid 2px #f2eaf4;
	margin-left:1em;
}

.form_original input::placeholder {
  color: #e7daea;
}

.form_original textarea{
	color: #8f4796;
	outline:none;
	width:100%;
	height: 5em;
	margin-bottom: 20px;
    border-style: none;
    border-bottom: solid 2px #f2eaf4;
	margin-left: 1em;
}

.form_original textarea::placeholder {
  color: #e7daea;
}


.book_add_btn{
	color: #e7daea;
	font-size: 15px;
	margin: 10px 0 0 0;
	width: 100%;
	height:3em;
    background-color: #f2eaf4;
    border: 2px solid #f2eaf4;
    border-radius: 3px;
}

.book_add_btn:hover {
    color: #f2eaf4;
    background-color: #b96cc4;
    border: 2px solid #b96cc4;
}

.book_del_btn {
	margin: 10px 0;
	float:right;
    background-color: none;
    border:none;
    color: #8f4796;
    font-size: 12px;
    /*line-height: 1.6em;*/
}