/*POPの中身*/
.pop_header{
	background-color: #f2eaf4;
	/*height:80px;*/
}


.pop_header p{
	font-size: 15px;
	font-weight: 600;
	color:#b96cc4;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0.1em;
}

.pop_header a{
	margin:15px;
	float:right;
	position: relative;
	/*bottom:80px;*/
	color:#666666;
	font-size: 50px;
	text-decoration: none;
}

.pop_header a:hover{
	color:#333333;
}

.pop_p{
	font-weight:600;
	letter-spacing: 0.1em;
	font-size: 20px;
	color:#8f4796;
	/*vertical-align: middle;
	text-align: center;*/
}

.book_img{
	text-align: center;
	margin: 20px;
	border: 20px;
}

.form_original label{
	vertical-align:top;
	font-size: 15px;
	color: #bbb;
}

.form_original input{
	margin-bottom: 25px;
	width:100%;
	height: 3em;
	outline:none;
	color:#8f4796;
    background:none;
    border-style: none;
    border-bottom: solid 2px #f2eaf4;
	text-indent: 1em;
}
.form_original input::placeholder {
  color: #e7daea;
}
.form_original textarea{
	color: #8f4796;
	outline:none;
	width:100%;
	height: 7em;
	margin-bottom: 25px;
    border-style: none;
    border-bottom: solid 2px #f2eaf4;
	text-indent: 1em;
}

.form_original textarea::placeholder {
  color: #e7daea;
}


.book_add_btn{
	color: #e7daea;
	font-size: 20px;
	margin: 10px 0 5px 0;
	width: 100%;
	height:3em;
    background-color: #f2eaf4;
    border: 2px solid #f2eaf4;
    border-radius: 3px;
}

.book_add_btn:hover {
    color: #f2eaf4;
    background-color: #b96cc4;
    border: 2px solid #b96cc4;
}

.book_del_btn {
	margin: 20px 0;
	/*float:right;*/
    background-color: none;
    border:none;
    color: #8f4796;
    font-size: 15px;
    /*line-height: 1.6em;*/
}