/*css bace*/

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
}
/*
@font-face{
  font-family: 'MyFont';
  scr:local('file:///Users/watanabemizuki/Desktop/github/T-zergが創るPHILIALEのレポジトリ/css/ki_kokugo/font_1_kokugl_1.15_rls.ttf');
}*/

p{
  font-style: italic;

}



/* header */

/*.container-head{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: #dcdcdc;
}


.container-head{
  width: 900px;
  margin: 0 auto;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center; 
}



.header{
  background-color:;
  color:;
  height:;  
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
 }

.header ul li {
  display: inline-block;
  width: 15%;
  float: right;
  padding: 33px 20px;

}*/




 /*top */

.container-top{
  width: 900px;
  margin: 0 auto;
  height: 300px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

h1{
  font-family: 'Alice in Wonderland';
  font-style: normal;
  font-weight: normal;
  src: local('Alice in Wonderland'), url('Alice_in_Wonderland_3.woff') format('woff');
  font-size: 200px;
  text-align: center;
  margin: 70px 70px;
}


 /*intro */

.container-intro{
  width: 900px;
  margin: 0 auto;
  height: 400px;
  padding-top: 95px;
  padding-bottom: 30px;
  text-align: center;  
}

h4 {
  font-size: 20px;
  padding-bottom: 40px;
}

.intro{
  padding-bottom: 50px;
}

 /*servise */

.container-serv{
  width: 900px;
  margin: 0 auto;
  height: 1700px;
  padding-top: 10px;
}

.servise1{
  width: 900px;
  margin: 0 auto;
  height: 900px;
  padding-top: 10px;
}


.servise2{
  width: 900px;
  margin: 0 auto;
  height: 900px;
  padding-top: 10px;
}


.servise3{
  width: 900px;
  margin: 0 auto;
  height: 900px;
  padding-top: 10px;
}

img{
  width: 400px;
  margin: 0 auto;
  height: 500px;
  padding-top: 0px;
  position: relative;
  overflow: hidden;

}

.desc{
  width: 360px;
  padding-top: 100px;
}

.desc p{
  text-align: center;
}

.pull-right{
    float: right;
    padding-right:30px;
}


.pull-left{
  float: left;
  padding-right: 90px;
  padding-left: 50px;
}


 /* message */
.container-msg{
  width: 900px;
  margin: 0 auto;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;

}



