/*@media screen and (min-width: 0px) and (max-width: 599px) {
   div#sidebar { width: 100%; }
}*/
/*@media screen and (min-width: 600px) and (max-width: 959px) {
   div#sidebar { width: 160px; }
}*/
/*@media screen and (min-width: 960px) {
   div#sidebar { width: 25%; }
}
*/


