html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
   font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif
}

li{
  list-style: none;
}

.navbar-default{
 background:linear-gradient(#8f4796,#8f4796);
 border-color: #8f4796;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-size: 20px;
    /*padding: 10px;*/
}

a i{
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #fff;
}

a span{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #fff;
  padding: 5px 10px;
}

.navbar-brand{
  padding: 6px 10px; 
  padding-left: 15px;
}

.fas{
  font-size: 33px;
}

li{
  font-color: #fff;
  font-size: 25px;
  display: inline;
  float:right;
  padding-left: 10px;
}

.diviver{
    padding-top: 5px;
    color: #fff;
}


.wrapKIYAKU h1{
  font-size: 40px;
}
.wrapKIYAKU h1>p{
  margin: 30px;
  line-height: 50px;  
}

.wrapKIYAKU h2 ol li{
  /*padding-top: 30px;*/
  padding-bottom: 30px;
  line-height: 30px;
}

.wrapKIYAKU h2{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapKIYAKU h3{
  margin-top: 30px;
  line-height: 30px;
}

.line1{
  height: 300px;
  margin-top: 50px;
}

.line2{
  height: 500px
  margin-top: 20px;
}

.line2 p{
  font-size:20px;
  padding-left: 60px;
}

.container {
  padding-right: 15px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}

.wrapKIYAKU p{
  font-size: 20px;
   padding-left: 60px;
}

.wrapKIYAKU>.tR{
  padding-top: 50px;
  /*padding-right: -0px;*/
}



/* 767px以下: デフォルト */
.container {
  padding-right: 15px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px){
  .pc_only{
    display: none;
  }

  #copyright{
  width: 768px;
  color: #fff;
  background-color: #696969;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
  color:rgba(33, 39, 98, 0.5);
}

.container-copy>a>p{
  line-height: 50px;
}

}

/* 768px以上 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  #copyright{
  width: 980px;
  color: #fff;
  background-color: #696969;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
  color:rgba(33, 39, 98, 0.5);
}

.container-copy>a>p{
  line-height: 50px;
}

}

/* 992px以上 */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  /*copyright*/
#copyright{
  width: 100%;
  color: #fff;
  background-color: #696969;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
  color:rgba(33, 39, 98, 0.5);
}

.container-copy>a>p{
  line-height: 50px;
}

}

/* 1200px以上 */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
.container-fluid{
    padding-right: 150px;
    padding-left: 150px;
}



/*copyright*/
#copyright{
  width: 100%;
  color: #fff;
  background-color: #696969;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: none;
  color:rgba(33, 39, 98, 0.5);
}

.container-copy>a>p{
  line-height: 50px;
}

}
