/*register内サインアップ～サンクス*/
.box2{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.left-column{
	background-color:#eeeeee;
	height: 500px;
	margin-bottom: 50px;
	padding:20px;
    border: solid 3px #8f4796;
}

.left-column p{
	color: #8f4796;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 2.3em;
}

.left-column h3{
	color: #8f4796;
	margin-top: 0;
	margin-bottom: 3em;
}

.right-column{
	margin-top: 5em;
	height: 500px;
	margin-bottom: 50px;
}

.right-column_c{
	margin-top: 0;
	height: 300px;
	margin-bottom: 10px;
}

.center-column{
	text-align: center;
	margin:30px;
}

.logo {
  background-size: contain;
  height: 50px;
  width: 50px;
}

.logo_original {
  background-size: contain;
  height: 110px;
  width: 110px;
  margin: 5% 40%;
  /*margin-left:43%;*/
}

/*.form-group{*/
	/*text-align: center;*/
/*}*/

.form-group input{
	height:4em;
	margin-top:1.8em;
}

#message{
	margin-top:2em;
	margin-bottom: 1em;
	height:15em;
}

.btn-original{
	margin-top: 38px;
	width: 80%;
	height:4em;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
	background-color:#8f4796;
    color: #bbbbbb;
}

.btn:hover {
    border: solid 2px #8f4796;

}




